<div class="modal-header">
    <button type="button" {{action 'close'}} class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{course_name}} - New Assignment</h4>
</div>

<div class="modal-body">
        <div class="form-group">
            <div class="col-md-5">

                <div class="form-group">
                    {{input type="text" value=due_date id="datetime"}}
                    <input type="text" id="date" class="form-control" readonly="true" required="required"  size="16" placeholder="Please close and try again"/>
                </div>

                <div class="form-group input-append bootstrap-timepicker">
                    <input id="time" type="hidden" data-disable-focus="true" readonly="true" class="input-small">
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <div class="col-md-7">
                {{input type="text" value=assignment_name id="assignment-name" maxlength="40" class="pull-left form-control" placeholder="Assignment Name" }}
                {{textarea id="description" value=description maxlength="250" class="pull-left form-control" placeholder="Description" }}
            </div>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary col-xs-12" type="button" {{action 'save'}} >Save</button>
</div>
